* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
}
.header-wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
header {
  padding: 30px 0;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 9;
  top: -100px;
  left: 0;
  width: 100%;
  z-index: 1000;
  opacity: 0;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 60px;
      li {
        list-style: none;
      }
    }
    a {
      color: #ffffff;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: #223e94;
      }
    }
  }
}
.image-cover {
  line-height: 0.65;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.header-button {
  padding: 15px 25px;
  box-sizing: border-box;
  background-color: #223e94;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #140c41;
    color: white;
  }
}
@font-face {
  font-family: "Death Star";
  src: url("../fonts/Death Star.otf") format("woff");
}

.hero-home-content {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: relative;
  top: -10px;
  a {
    display: block;
  }
}
.hero-home {
  position: relative;
  height: 100vh;
  .hero-image{
  height: 100vh;

  }
}

.message-container {
  text-align: center;
  font-family: "Death Star", sans-serif;
  text-transform: uppercase;
  padding-bottom: 20vh;
  box-sizing: border-box;

  .top-bar,
  .bottom-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    .line {
      width: 0;
      height: 10px;
      border: 2px solid #ceb7ff;
      box-shadow: 0 0 6px #ceb7ff, 0 0 10px #ceb7ff inset;
    }

    span {
      font-size: 22px;
      letter-spacing: 1px;
      color: #ceb7ff;
      opacity: 0;
    }
  }

  h1,
  h2 {
    font-family: "Death Star";
    color: transparent;
    -webkit-text-stroke: 1px #ceb7ff;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 1px;
    opacity: 0;
  }

  h1 {
    font-size: 64px;
    margin: 15px 0;
  }

  h2 {
    font-size: 58px;
    margin: 50px 0 0;
  }
}

.click-button {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  width: max-content;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  transform: scale(0.9);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -20px;
    width: 62px;
    height: 55px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &::before {
    background-image: url(../images/click-left-shape.svg);
  }
  &::after {
    background-image: url(../images/click-right-shape.svg);
    bottom: -15px;
    right: -30px;
    top: auto;
    left: auto;
  }

  a,
  a:visited {
    font-family: "Death Star";
    font-size: 39px;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
    &:hover {
      color: #223e94;
    }
  }
}

.social-icons {
  position: absolute;
  inset: 0;
  margin: auto;
  width: auto;
  height: max-content;
  left: 3%;

  a,
  a:visited {
    display: block;
    width: max-content;
    height: max-content;
    position: relative;
    opacity: 0;
    transform: scale(0.8);
    transition: transform 0.4s ease, opacity 0.4s ease;

    &:hover {
      transform: scale(1.2);
    }

    img {
      position: relative;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      inset: -10px;
      border-radius: 50%;
      border: 2px solid rgb(174 19 250);
      opacity: 0;
      transform: scale(0.8);
      animation: modernPulse 2s infinite ease-out;
    }

    &.github-icon {
      margin-bottom: 50px;
    }
  }
}

.hero-image img {
  object-position: 50% -6vh;
}

@keyframes modernPulse {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.2;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
