*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
}
// Header styles
.header-wrapper{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}
header{
    padding: 30px 0;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
            li{
                list-style: none;
            }
        }
        a{
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: #ffffff;
            }
    }}
}
.image-cover{
    line-height: 0.65;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.header-button{
    padding: 15px 30px;
    background-color: #223E94;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: #140c41;
    }
}